<h1 class="text-center">Forest Service Homepage</h1>

<form action="/add_species/Add" method="get">
  <input type='text' placeholder='Insert species name' name="species_name"/>
  <input type='submit' value='Add to species'/>
</form>

<form>
  <input type='submit' value='List all species'/>
</form>
